@import "@styles/settings/_settings";

.header {
  width: 100%;
  font-size: 1em;
  color: white;
  background-color: black;
  padding: 1em 0;
  margin: 0;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1em;
}

.headerTitle {
  display: flex;
  align-items: center;
  font-size: 1.6em;
  font-weight: bold;
  margin: 0;
}

.headerLogo {
  height: 1.6em;
}

.headerLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0 0.8em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 0.4em;
    }
  }
}

@keyframes jiggle {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

.jiggle {
  animation-name: jiggle;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}
